#openh264
native/OpenH264/*.*
# Prerequisites
*.d
*.tlog
*.lastbuildstate
*.pdb
*.jobj
*.log
*.vs/**
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.user
# Precompiled Headers
*.gch
*.pch
*.idb
*.ipch
*.jobj
*.iobj
*.ipdb
*.db
*.opendb
*.db-shm
*.suo
*.db-wal
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
